{
  "presets": [
    ["env", { "modules": false }]
  ],
  "plugins": [
    "syntax-dynamic-import"
  ],
  "env": {
    "test": {
      "presets": ["env", "stage-2"],
      "plugins": [
        "transform-es2015-modules-commonjs",
        "transform-runtime",
        "dynamic-import-node"
      ]
    }
  }  
}
